body {
  counter-reset: image;
  counter-set: image 1;
  background-color: blanchedalmond;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header {
    text-align: justify;
}
header div {
    margin:5px 0;
}
figure {
  counter-increment: image;
  margin: 10px; 
  padding:5px;
 
}
figcaption {
  padding: 5px 0;
}
h2::before {
  margin: 10px;
  content: counter(image) ":\A";
}
.section1,
.section2,
.section3 {
  border-radius: 15px;
}
.section1 {
  background-color: lightcoral;
}
.section2 {
  background-color: lightgreen;
}
.section3 {
  background-color: lightblue;
}
